body {
}

.grammar-cheatsheet {
  max-width: em(960px);
  margin: em(32px) auto;

  @include media('extra-large') {
    max-width: em(1170px);
  }

  &__main {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: em(90px);
  }

  &__sidenav {
    width: em(292px);
    @include media('extra-large') {
      width: em(344px);
    }
  }

  &__content {
    width: em(646px);
    @include media('extra-large') {
      width: em(795px);
    }
  }

  &.is-sticky {
    .grammar-cheatsheet__sidenav {
      position: fixed;
      top: em(32px);
    }

    .grammar-cheatsheet__content {
      float: right;
    }

    .grammar-cheatsheet__main {
      display: block;
    }
  }
}
