nav, footer.page-footer,
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active,
.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
  background-color: #38435a !important;
}

#index-banner {
  background-color: #38435a !important;
  padding-bottom: 10px !important;
}

@media only screen and (max-width: 992px) {
  #index-banner h1 {
    margin-top: 30px !important;
  }
}

a.button-collapse.top-nav.full {
  line-height: 80px !important;
}

.side-nav.fixed .collapsible {
  padding-bottom: 50px !important;
}

.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li a.active {
  color: white !important;
  background-color: #38435a !important;
}

.playground {
  margin-bottom: 10px !important;
}
.playground .react-live-preview {
  margin-bottom: 10px !important;
}

.playground .prism-code {
  background-color: #38435a !important;
}

.playground pre {
  padding: 1em !important;
  font-size: 15px !important;
}

#logo-container {
  height: 100px !important;
  margin-top: 10px !important;
}

ul.side-nav.fixed li.logo {
  height: 160px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

ul.side-nav.fixed li.logo img {
  max-height: 100% !important;
}
