@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

nav, footer.page-footer,
.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active,
.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
  background-color: #38435a;
}

.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li a.active {
  color: white;
  background-color: #38435a;
}

.playground {
  margin-bottom: 10px;
}
.playground .react-live-preview {
  margin-bottom: 10px;
}

.playground .prism-code {
  background-color: #38435a;
}

.playground pre {
  padding: 1em;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}

#logo-container {
  height: 100px;
  margin-top: 10px;
}

ul.side-nav.fixed li.logo {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0
}

ul.side-nav.fixed li.logo img {
  max-height: 100%
}
